/* CamelCase */
:root {
/* MainColor */
  --themeColor : #f57c00;
  --black : #333333
  --light-Black : #757575;
/* PartnerColor */
  --mainPt: #EF8B24;
  --subPt: #F5BA08;
  --normalPt:  #91897F;
  --newPt: #D0011B;
}
